html {
    font-size: 16px;
}

body {
    background-color: #1f2025;
    color:white;
    line-height: 1.5;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

h1 {
    line-height: 1.2;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header, main, nav, footer {
    text-align: center;
}

footer {
    font-size: smaller;
    color: #888f9a;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    color:white;
}

nav a.active {
    color:#d59311;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}
main 
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

table {
    padding-bottom: 20px;
}
td {
    padding: 8px 10px;
    font-size: 1.3rem;
}
td strong {
    color: #f2d479;
}
#table-header {
    background-color: #3a3d48;
}
.table-row {
    background-color: #24272e;
}
.table-row:hover {
    background-color: #30333f;
}
ul {
    width: 500px;
    margin: 0;
    text-align: left;
}
.hobby {
    color: yellow;
    font-weight: 600;
}
ul li + li {
    margin-top: 1rem;
}
iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 640px;
    height: 1100px;
    border: 0px;
}