html {
    font-size: 16px;
}
body {
    background-color: #1f2025;
    color:white;
    
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
header, main, nav, footer {
    text-align: center;
}
footer {
    font-size: smaller;
}
nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color:white;
}
nav a.active {
    color:#d59311;
    font-weight: bold;
}
nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}
main {
    display: flex;
    justify-content: center;
}
table {
    /* margin: 0px auto; */
    padding-bottom: 20px;
}
td {
    padding-right: 10px;
    font-size: 1.3em;
}
td strong {
    color: #f2d479;
}
#table-header {
    background-color: #d54818;
}
.table-row {
    background-color: #004075;
}
ul {
    width: 500px;
    /* margin: 0 auto; */
    text-align: left;
}
.hobby {
    color: yellow;
}
iframe {
    display: block;
    margin: 0 auto;
}