body {
    max-width: 1000px;
    background-color: #f8f9fa;
    margin: 0 auto;
}

.responses-container {
    min-width: 250px;
    margin-top: 15px;
}

h1 {
    text-align: center;
    background-color:aqua;
}

.quiz-mark {
    height: 1.6rem;
    vertical-align: top;
    margin-right: 10px;
}