html {
    font-size: 16px;
}

body {
    background-color: #f8f9fa;
    color:#2d3436;
    line-height: 1.5;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

    padding-left: 50px;
    padding-right: 50px;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    color:#003366;
}

a {
    color:#d59311;
}

nav a.active {
    color:#d59311;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px #d59311 solid;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.principles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px 25px;
    padding: 30px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.kanban-practices-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.principles-card, .practices-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border-left: 3px solid #d59311;
    box-shadow 0 4px 6px rgba(0,0,0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.principles-card:hover, .practices-card:hover {
    transform:translateY(-5px);
    background: #ffffff;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.principles-card span, .practices-card span {
    font-size: 2rem;
    font-weight: bold;
    color: #d59311;
    display: block;
    margin-bottom: 10px;
}

footer, header, main, nav, h2, .values-header, .scrum-header {
    text-align: center;
}