html {
    font-size: 16px;
}

body {
    background-color: #1f2025;
    color:white;
    line-height: 1.5;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    color:white;
}

nav a.active {
    color:#d59311;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px orange solid;
}
header, main, nav {
    text-align: center;
}