/* body {
    display: flex;
    flex-direction: column;
} */

#signupForm h1 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
}

#signupForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

#signupForm .col-sm-4 {
    text-align: right;
    padding-right: 15px;
}

#signupForm span {
    display: inline-block;
    padding: 0.375rem 0;
    font-weight: bold;
}

#signupForm .form-control, #signupForm .form-select {
    width: 100%;
    max-width: 300px;
}

#signupForm .row {
    margin-bottom: 1.1rem;
    min-height: 30px;
}

#usernameError, #suggestedPwd, #passwordError {
    display: inline-block;
    font-size: 0.85rem;
    vertical-align: middle;
}


footer {
    margin-bottom: 10px;
    text-align: center;
}