* {
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #e4e7e9;
    display: flex;
    flex-direction: column;
}

#signupForm {
    background: white;
    max-width: 800px;
    width: 95%;
    padding: 50px 60px;
    margin: 60px auto;
    border-radius: 12px;
    border-top: 6px solid #343a40;
    box-shadow: 0 10px 25px rgba(0, 0, 30, 0.4);
}


#signupForm header {
    background-color: #6c757d;
    margin: -50px -60px 30px -60px;
    padding: 20px;
    border-bottom: 1px solid #edf2f7;
    color: white;
}

#signupForm h1 {
    text-align: center;
    margin: 0;
    padding-top: 15px;
    font-weight: 800;
    color: white;
    letter-spacing: -1.5px;
    text-transform: capitalize;
}

#signupForm .col-sm-4 {
    text-align: right;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#signupForm .row {
    margin-bottom: 1.1rem;
}

.form-control-plaintext {
    background-color: #f8f9fa;
    border-radius: 6px;
    padding-left: 12px;
    border: 1px solid #e9ecef;
    height: 38px;
    color: #495057;
}

#signupForm button {
    margin-top: 1rem;
}

.invalid-feedback:empty, .valid-feedback:empty {
    display: none;
    margin: 0;
    padding: 0;
}

#usernameError, #suggestedPwd, #passwordError {
    font-size: 0.85rem;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem 0;
}

#success-card {
    background: white;
    max-width: 800px;
    width: 90%;
    padding: 50px 60px;
    margin: 80px auto;
    border-radius 12px;
    border-top: 6px solid #d59311;
    box-shadow: 0 10px 25px rgba(0, 0, 30, 0.4);
    overflow: hidden;
}

#success-card header {
    text-align: center;
    color: white;
    background-color: #f7b535;
    margin: -50px -60px 30px -60px;
    padding: 20px;    
}

.sucess-icon {
    font-size: 4 rem;
    color: #198754;
    margin-bottom: 1rem;
}

#success-card h1 {
    font-weight: 800;
    letter-spacing: -1.5px;
    margin: 0;
}

#success-card h2 {
    font-weight: 700;
    color: #212529;
    margin-bottom: 1rem;
}

#success-card p {
    font-size: 1.1rem;
}