html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#signupForm h1 {
    text-align: center;
    padding-bottom: 15px;
}

#signupForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

#signupForm .col-sm-5 {
    text-align: right;
    padding-right: 15px;
}

#signupForm span {
    display: inline-block;
    padding: 0.375rem 0;
    font-weight: bold;
}

#signupForm .row {
    margin-bottom: 1.1rem;
}

.invalid-feedback:empty, .valid-feedback:empty {
    display: none;
    margin: 0;
    padding: 0;
}

#usernameError, #suggestedPwd, #passwordError {
    font-size: 0.85rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
}