html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modeToggle {
    justify-content: center;
}

#randomCatFacts, #randomDogFacts {
    margin-bottom: 15px;
}

#randomDogFacts:active, #randomCatFacts:active {
    transform: translateY(2px);
    border-bottom: 2px solid #1A237E;
}

#dogImage, #catImage {
    object-fit: cover;
    display: none;
    margin-top: 10px;
    min-height: 200px;
}

.breed-caption {
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 5px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding-bottom: 10px;
}